
* {    
    margin: 0;
    padding: 1; 
}

body {
    background-color: white;
    position: fixed;
    top: 0;
    bottom:0;
    left:0;
    right:0;
}



.header {
    background: darkgray;
    color: white;
    font-size: 30px;
    
}

.clickButton {
    background-color: #0550D5;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 15px;  
    border-radius: 5px;  
    border-color: #0550D5;
    border-style: solid;
    
}
.clickButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

.notClickButton {
    background-color: #001f4d;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 15px;  
    border-radius: 5px;    
    border-color: #001f4d;
    border-style: solid;

}


.notClickButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.utilButton {
    background-color: #3EACD5;
    color: white;
    padding: 2px 2px;
    text-align: center;
    font-size: 10px;  
    border-radius: 5px;  
    border-color: #3EACD5;
    border-style: solid;
    margin:0;
}



.utilButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


.image {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.hide {
    width: 0px;
	height: 0px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;  

}

.upstyle {

   border-style: solid;
   border-radius: 10px;
   border-color: black; 
}

label {
    border-style: none;
    position: relative;
    top: 2px;
}


.textField {
    padding: 5px 12px;
    text-align: center;
    font-size: 12px;
    border: solid;
    position: relative;
    top: 5px;
    left: 5px;
}

.textField2 {
    padding: 2px 2px;
    text-align: center;
    font-size: 12px;
    border-radius: 30px;
}
